<div class="container-fluid categories-container blurred" #container ng2FileDrop
     [style.border-color]="fileOver?'red':'transparent'"
     (fileOver)="fileOver=$event"
     [uploader]="uploader">

    <div style="text-align:center;direction:rtl;padding:15px;">
        <label>סנן: </label> <input type="text" [(ngModel)]="filter" />
    </div>
    <div class="row categoryList" *ngIf="categoryList">
        <div class="col-xs-6 col-sm-3 col-md-2 col-lg-2 category animated" *ngFor='let category of uploader.queue.reverse()'>
            <div class="thumbnail">
                <div class="lazy">
                    <img [src]="category.previewUrl">
                </div>
                <p>{{category.file?.name}}</p>
            </div>
        </div>
        <div class="col-xs-6 col-sm-3 col-md-2 col-lg-2 category animated" [@categoryState]="category.deleted" *ngFor='let category of categoryList | filterCategory:filter;let i=index'>
            <span class="glyphicon glyphicon-remove close-btn" (click)="removeCategory(category,i)"></span>
            <div class="thumbnail" [routerLink]="[category.filename]">
                <div class="lazy">
                    <img [src]="'imageapi/category/' + category.filename">
                </div>
                <p>{{category.metadata?.categoryName}} </p>
            </div>
        </div>
    </div>
</div>