div.categories-container {
    height: 100%;
    border: dotted 3px;
    min-height: 400px;
    filter: blur(0);
    transition: filter 1s ease-in-out;
    overflow: auto;
}

    div.categories-container.blurred {
        filter: blur(6px);
    }

.categories-container .categoryList .category.animated {
    transition-property: width,height;
    transition-duration: .6s;
    transition-timing-function: ease-out;
    will-change: width,height;
}

span.close-btn {
    position: absolute;
    right: 16px;
    top: 1px;
    border-radius: 50%;
    height: 20px;
    width: 20px;
    font-size: 1.5em;
    color: white;
    -webkit-text-stroke: black 2px;
    transition: transform .25s ease;
}

    span.close-btn:hover {
        transform: rotate(90deg);
    }

.categoryList .category {
    float: right;
    cursor: pointer;
    text-decoration: none;
}

    .categoryList .category .thumbnail {
        padding: 4px;
        box-shadow: 0 1px 27px rgba(0, 0, 0, 0.62);
    }

        .categoryList .category .thumbnail div.lazy {
            text-align: center;
            margin: auto;
        }

            .categoryList .category .thumbnail div.lazy img {
                width: 100%;
                object-fit: contain;
            }

        .categoryList .category .thumbnail p {
            overflow: hidden;
            direction: rtl;
            font-size: 2.4em;
            text-align: center;
            font-family: cursive;
            letter-spacing: 0.05em;
            white-space: nowrap;
            color: white;
            /* -webkit-text-stroke: rgb(119, 0, 0) 2px; */
            background-color: black;
        }
