div.categories-container {
    filter:blur(0);
    transition: filter 1s ease-in-out;
}
div.categories-container.blurred{
    filter: blur(6px);
}

    .categories-container a.animated {
        transition-property: width,height;
        transition-duration: .6s;
        transition-timing-function: ease-out;
        will-change: width,height;
        float: right;
    }

span.close-btn {
    position: absolute;
    right: 16px;
    top: 1px;
    border-radius: 50%;
    height: 20px;
    width: 20px;
    font-size: 1.5em;
    color: white;
    -webkit-text-stroke: black 2px;
    transition: transform .25s ease;
}

    span.close-btn:hover {
        transform: rotate(90deg);
    }

.thumbnail {
    padding: 4px;
}

    .thumbnail div.lazy {
        text-align: center;
        margin: auto;
    }

        .thumbnail div.lazy img {
            max-height: 100%;
            width: 100%;
            object-fit: contain;
        }

    .thumbnail p {
        overflow: hidden;
        direction: rtl;
        font-size: 2.4em;
        text-align: center;
        font-family: AdamaMF;
        white-space: nowrap;
        color: white;
        background-color: black;
    }
