<div class="btn-toolbar pull-right" role="group">
    <input *ngIf="textFields[selectedIndex]" type="text" [(ngModel)]="textFields[selectedIndex].text" style="height: 30px;float:left;" />
    <select [(ngModel)]="selectedValue">
        <option *ngFor="let font of fonts" [ngValue]="font">{{font}}</option>
    </select>
    <div class="btn-group">
        <button type="button" class="btn btn-default" (click)="addField()"><i class="fa icon-plus"></i></button>
        <button type="button" class="btn btn-default" (click)="removeField()"><i class="fa icon-minus"></i></button>
        <input (colorPickerChange)="colorChanged($event)" [colorPicker]="color" [style.background-color]="textFields[selectedIndex]?.color" readonly class="btn btn-default" style="width:30px;" />
        <!--<div class="btn-group">
            <a class="btn dropdown-toggle"><i class="icon-font"></i><b class="caret"></b></a>
            <ul class="dropdown-menu">
                <li *ngFor="let font of fonts"><a [style.font-family]="font">{{font}}</a></li>
            </ul>
        </div>-->
        <!--<ul class="dropdown-menu" dropdownMenu aria-labelledby="simple-dropdown">
            <li *ngFor="let font of fonts">
                <a class="dropdown-item" [style.font-family]="font">{{font}}</a>
            </li>
        </ul>-->
        <div class="btn-group" dropdown dropdown-append-to-body>
            <button type="button" class="btn btn-primary" dropdownToggle>
                פונט <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" role="menu" aria-labelledby="btn-append-to-body">
                <li role="menuitem" *ngFor="let font of fonts" (click)="textFields[selectedIndex].font = font">
                    <a class="dropdown-item" [style.font-family]="font">{{font}}</a>
                </li>
            </ul>
        </div>
    </div>
</div>
<br />
<br />
<style>
    .textField {
        border-color: transparent;
        border-width: 1px;
        border-style: dashed;
        cursor: pointer;
    }
    /*.textField:focus {
            border-color: #000;
        }*/
</style>
<div class="panel panel-default">
    <div class="panel-body" style="position: relative;">
        <div *ngFor="let field of textFields; let i=index" class="textField" style="position: absolute;" [style.border-color]="i==selectedIndex?'#000':'transparent'"
             [style.top.px]="field.top" [style.left.px]="field.left" [style.color]="field.color" [style.font-size]="field.fontSize" [style.z-index]="100 + field.index"
             [style.width.px]="field.width" [style.height.px]="field.height" [style.font-family]="field.font"
             [draggable] (mousedown)="mouseDown(i, $event)">
            {{field.text}}
        </div>
        <img src="imageapi/byid/{{imageID}}" id="myImage" style="position:initial;width:100%;height:100%;"
             (mousedown)="mouseDown(-1, $event)" />
    </div>
</div>