body {
    /*direction:rtl;*/
}

.nav.nav-justified {
    padding-right: 0;
}

.ellipis {
    overflow: hidden;
    -ms-text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    display: block;
    white-space: nowrap;
}

.btn {
    box-shadow: rgba(255, 255, 255, 0.2) 0px 1px 0px inset, rgba(0, 0, 0, 0.0470588) 0px 1px 2px;
}

.open > .dropdown-menu {
    max-height: 300px;
    overflow-y: auto;
}