@font-face {
    font-family: 'AdamaMF';
    src: url('fonts/ADAMAMF.TTF') format('truetype');
    font-weight:normal;
}
@font-face {
    font-family: 'AdamaBMF';
    src: url('fonts/ADAMABMF.TTF') format('truetype');
    font-weight:bold;
}
@font-face {
    font-family: 'BN Slayer';
    src: url('fonts/BN SLAYER.TTF') format('truetype');
}