@font-face {
    font-family: 'ADAMAMF';
    src: url('fonts/ADAMAMF.TTF') format('truetype');
    font-weight:normal;
}
@font-face {
    font-family: 'ADAMABMF';
    src: url('fonts/ADAMABMF.TTF') format('truetype');
    font-weight:bold;
}
@font-face {
    font-family: 'KOBY';
    src: url('fonts/KOBY.TTF') format('truetype');
}