html, body, #app,.ui-overlaypanel-content {
    height: 100%;
    width: 100%;
    overflow: hidden;
    padding: 0;
    margin: 0;
}

th {
    text-align: right;
}

.nav.nav-justified {
    padding-right: 0;
    font-size: large;
    line-height: normal;
}

.dropdown-menu {
    padding: 5px 10px;
    user-select: none;
}

.ellipis {
    overflow: hidden;
    -ms-text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    display: block;
    white-space: nowrap;
}

.btn {
    padding: 4px 12px;
    margin-bottom: 0;
    line-height: 20px;
    cursor: pointer;
    border: 1px solid #cccccc;
}

.btn-info {
    color: #ffffff;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    background-color: #49afcd;
    background-image: -moz-linear-gradient(top, #5bc0de, #2f96b4);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#5bc0de), to(#2f96b4));
    background-image: -webkit-linear-gradient(top, #5bc0de, #2f96b4);
    background-image: -o-linear-gradient(top, #5bc0de, #2f96b4);
    background-image: linear-gradient(to bottom, #5bc0de, #2f96b4);
    background-repeat: repeat-x;
    border-color: #2f96b4 #2f96b4 #1f6377;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
}

    .btn-info:hover, .btn-info:focus, .btn-info:active, .btn-info.active, .btn-info.disabled, .btn-info[disabled] {
        color: #ffffff;
        background-color: #2f96b4;
    }

.open > .dropdown-menu {
    max-height: 300px;
    overflow-y: auto;
}

upload-panel div.ui-accordion-content-wrapper > div.ui-accordion-content.ui-widget-content {
    overflow: visible;
}

.spinning {
    animation-direction: normal;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-name: spinning;
    animation-timing-function: linear;
    /*animation-play-state: paused;*/
}

.blurry {
    animation-direction: normal;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-name: blurry;
    animation-timing-function: ease-in-out;
    /*animation-play-state: paused;*/
}

@keyframes spinning {
    0% {
        transform: skew(0deg) rotateZ(0deg);
    }

    50% {
        transform: skew(45deg) rotateZ(180deg);
    }

    100% {
        transform: skew(0deg) rotateZ(360deg);
    }
}

@keyframes blurry {
    from {
        filter: unset;
    }

    50% {
        filter: blur(10px);
    }

    to {
        filter: unset;
    }
}
