<div style="height:65px;margin: 5px;">
    <div style="direction:rtl;padding:5px;">
        <label>שם התבנית</label>
        <input *ngIf="template" [(ngModel)]="template.name" style="width: 390px;padding: 0 5px;">
    </div>
    <div class="btn-group pull-right">
        <button type="button" class="btn btn-default" (click)="addField()"><i class="fa fa-plus"></i></button>
        <button type="button" class="btn btn-default" (click)="removeField()"><i class="fa fa-trash-o"></i></button>
    </div>
    <div class="btn-toolbar pull-right" role="group" *ngIf="template && selectedField && !selectedField.isImage">
        <div class="btn-group" dropdown dropdown-append-to-body>
            <a class="btn btn-default color-picker" (colorPickerChange)="selectedField.stroke.color=$event" [colorPicker]="selectedField.stroke.color" [style.color]="selectedField.stroke.color">
                <i class="fa fa-eyedropper"></i>
            </a>
            <p-overlayPanel #strokePanel appendTo="body" [style]="{'width':'160px'}">
                <div>
                    <label>stroke width</label>
                    <p-slider [(ngModel)]="selectedField.stroke.width" [min]="-1" [max]="20"></p-slider>
                </div>
            </p-overlayPanel>
            <button type="button" class="btn btn-default" pButton label="Basic" (click)="strokePanel.toggle($event)" style="padding: 4px 3px;">
                <span class="caret"></span>
            </button>
        </div>
        <div class="btn-group" dropdown dropdown-append-to-body>
            <button type="button" class="btn btn-default color-picker" (colorPickerChange)="selectedField.shadow.color=$event" [colorPicker]="selectedField.shadow.color" [style.color]="selectedField.shadow.color">
                <i class="fa fa-eyedropper"></i>
            </button>
            <p-overlayPanel #shadowPanel appendTo="body" [style]="{'width':'160px'}">
                <div>
                    <label>blur</label>
                    <p-slider [(ngModel)]="selectedField.shadow.blur" [min]="-1" [max]="20"></p-slider>
                    <label>x</label>
                    <p-slider [(ngModel)]="selectedField.shadow.x" [min]="-20" [max]="20"></p-slider>
                    <label>y</label>
                    <p-slider [(ngModel)]="selectedField.shadow.y" [min]="-20" [max]="20"></p-slider>
                </div>
            </p-overlayPanel>
            <button type="button" class="btn btn-default" pButton label="Basic" (click)="shadowPanel.toggle($event)" style="padding: 4px 3px;">
                <span class="caret"></span>
            </button>
        </div>
        <div class="btn-group">
            <a class="btn" (click)="toggleProperty('bold')" [ngClass]="{'btn-info':hasProperty('bold',true),'btn-default':!hasProperty('bold',true)}"><i class="fa fa-bold"></i></a>
            <a class="btn" (click)="toggleProperty('italic')" [ngClass]="{'btn-info':hasProperty('italic',true),'btn-default':!hasProperty('italic',true)}"><i class="fa fa-italic"></i></a>
            <a class="btn" (click)="toggleProperty('underline')" [ngClass]="{'btn-info':hasProperty('underline',true),'btn-default':!hasProperty('underline',true)}"><i class="fa fa-underline"></i></a>
            <a class="btn btn-default color-picker" (colorPickerChange)="selectedField.color=$event" [colorPicker]="selectedField.color" [style.color]="selectedField.color"><i class="fa fa-eyedropper"></i></a>
            <div class="btn-group" dropdown dropdown-append-to-body>
                <button type="button" class="btn btn-default" dropdownToggle>
                    <i class="fa fa-text-width" aria-hidden="true"></i> <span class="caret"></span>
                </button>
                <div class="dropdown-menu" role="menu">
                    <input type="range" [(ngModel)]="selectedField.wordSpace" min="-20" max="20" />
                    <input type="range" [(ngModel)]="selectedField.letterSpace" min="-20" max="20" />
                </div>
            </div>
            <div class="btn-group" dropdown dropdown-append-to-body>
                <button type="button" class="btn btn-default" dropdownToggle>
                    <i class="fa fa-text-height"></i><span class="caret"></span>
                </button>
                <ul class="dropdown-menu" role="menu" aria-labelledby="btn-append-to-body">
                    <li *ngFor="let fontSize of fontSizes"
                        role="menuitem" (click)="setProperty('fontSize', fontSize)">
                        <button class="dropdown-item" [ngClass]="{'btn-info':hasProperty('fontSize',fontSize)}" style="width:100%;">{{fontSize}}. T</button>
                    </li>
                </ul>
            </div>
            <div class="btn-group" dropdown dropdown-append-to-body>
                <button type="button" class="btn btn-default" dropdownToggle>
                    <i class="fa fa-font" aria-hidden="true"></i> <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" role="menu" aria-labelledby="btn-append-to-body">
                    <li role="menuitem" *ngFor="let font of fonts" (click)="setProperty('font', font)">
                        <button class="dropdown-item" [style.font-family]="font" [ngClass]="{'btn-info':hasProperty('font',font)}" style="width:100%;">{{font}}</button>
                    </li>
                </ul>
            </div>
        </div>
        <div class="btn-group">
            <a class="btn" (click)="setProperty('align', 'left')" [ngClass]="{'btn-info':hasProperty('align','left'),'btn-default':!hasProperty('align','left')}"><i class="fa fa-align-left"></i></a>
            <a class="btn" (click)="setProperty('align', 'center')" [ngClass]="{'btn-info':hasProperty('align','center'),'btn-default':!hasProperty('align','center')}"><i class="fa fa-align-center"></i></a>
            <a class="btn" (click)="setProperty('align', 'right')" [ngClass]="{'btn-info':hasProperty('align','right'),'btn-default':!hasProperty('align','right')}"><i class="fa fa-align-right"></i></a>
        </div>
    </div>
    <div class="pull-left" style="direction:rtl;">
        <button class="btn btn-primary" (click)="sendToProcessing()">הורד כPDF</button>
        <button class="btn btn-primary" (click)="domtoimage()">הורד כתמונה</button>
        <button class="btn btn-primary" (click)="saveInServer()">שמור</button>
        <button class="btn btn-primary" (click)="pdfPanel.toggle($event)">פתח PDF</button>
        <p-overlayPanel #pdfPanel [style]="{overflow: 'auto',resize: 'both',direction: 'ltr'}">
            <!--<iframe *ngIf="pdfURL" [src]="pdfURL" style="overflow: auto;width:100%;height:100%;direction: ltr;"></iframe>-->
            <embed width="100%" height="100%" name="plugin" id="plugin" [src]="pdfURL" type="application/pdf" internalinstanceid="331" title="">
        </p-overlayPanel>
    </div>
    <div class="clearfix"></div>
</div>
<div class="panel panel-default row" *ngIf="template" style="display:flex;-webkit-user-drag:none;height: calc(100% - 75px);margin: 0;overflow-y: hidden;width: 100%;">
    <div class="col-md-3 col-sm-3" style="padding:10px;background-color:antiquewhite;">
        <upload-panel (dropFromPanel)="addImageFromPanel($event)"></upload-panel>
    </div>
    <div class="panel-body col-md-9 col-sm-9" style="overflow:auto;">
        <div class="print-area" #printArea [style.width.px]="template.width*zoomLevel" [style.height.px]="template.height*zoomLevel" [style.left]="getPrintAreaWidthSanitized()">
            <div class="fields-container">
                <div *ngFor="let field of template.moveableFields; let i=index" class="moveableField" style="position: absolute;"
                     [ngStyle]="getStyle(field, i)" [draggable]
                     (click)="selectedIndex=i" (dragstart)="dragStart(i, $event)" (drag)="onDrag(field,$event)" (dragend)="dragEnd($event)"><div *ngIf="!field.isImage" class="textField" [textContent]="field.text" (input)="field.text=$event.target.textContent" spellcheck="false"></div><img *ngIf="field.isImage" class="imageField" [src]="'/user/userUploads/' + field.imageId + '?id_token=' + this.auth.id_token" /></div>
            </div>
            <div class="inTemplate-tools" *ngIf="selectedField"
                 [style.left.px]="selectedField.left*zoomLevel" [style.top.px]="selectedField.top*zoomLevel" [style.z-index]="199 + selectedIndex"
                 [style.width.px]="selectedField.width*zoomLevel" [style.height.px]="selectedField.height*zoomLevel"
                 [style.transform]="getFieldRotationSanitized(selectedField)">
                <div class="resizer" style="position: absolute;"
                     [style.left.px]="selectedField.width*zoomLevel" [style.top.px]="selectedField.height*zoomLevel"
                     [draggable] (dragstart)="resizeStart($event)" (drag)="onResize($event)" (dragend)="resizeEnd($event)">
                    <i class="right"></i>
                    <i class="bottom"></i>
                </div>
                <div class="rotation-handle" style="position: absolute;"
                     [draggable] [style.left.px]="selectedField.width * zoomLevel/2 - 10"
                     (drag)="onRotate($event)" (dragstart)="rotateStart($event)" (dragend)="rotateEnd($event)">↻</div>
            </div>
            <img *ngIf="template" class="base-image" [src]="'imageapi/byid/'+template.imageId" (mousedown)="selectedIndex=-1" />
        </div>
    </div>
</div>

<zoom-toolbar (zoomChanged)="zoomLevel=$event"></zoom-toolbar>