<div class="row" style="direction:rtl;">
    <label>שם התבנית</label>
    <input *ngIf="template" [(ngModel)]="template.name" style="width: 390px;padding: 0 5px;">
</div>
<div>
    <div class="btn-toolbar pull-right" role="group">
        <div class="btn-group">
            <a class="btn" (click)="toggleProperty('bold')" [ngClass]="{'btn-info':hasProperty('bold',true),'btn-default':!hasProperty('bold',true)}"><i class="fa fa-bold"></i></a>
            <a class="btn" (click)="toggleProperty('italic')" [ngClass]="{'btn-info':hasProperty('italic',true),'btn-default':!hasProperty('italic',true)}"><i class="fa fa-italic"></i></a>
            <a class="btn" (click)="toggleProperty('underline')" [ngClass]="{'btn-info':hasProperty('underline',true),'btn-default':!hasProperty('underline',true)}"><i class="fa fa-underline"></i></a>
            <a class="btn btn-default" *ngIf="template" (colorPickerChange)="colorChanged($event)" [colorPicker]="color" [style.background-color]="template.textFields[selectedIndex]?.color" style="height:30px;background-position:initial;"><i class="fa fa-eyedropper"></i></a>
            <div class="btn-group" dropdown dropdown-append-to-body>
                <button type="button" class="btn btn-default" dropdownToggle>
                    <i class="fa fa-text-height"></i>
                </button>
                <ul *ngIf="template" class="dropdown-menu" role="menu" aria-labelledby="btn-append-to-body">
                    <li *ngFor="let fontSize of [template.textFields[selectedIndex]?.fontSize-5,template.textFields[selectedIndex]?.fontSize-1,template.textFields[selectedIndex]?.fontSize,template.textFields[selectedIndex]?.fontSize+1,template.textFields[selectedIndex]?.fontSize+5]"
                        role="menuitem" (click)="setProperty('fontSize', fontSize)">
                        <button class="dropdown-item" [style.font-size.em]="fontSize" [style.line-height.px]="fontSize+10" [ngClass]="{'btn-info':hasProperty('fontSize',fontSize)}" style="width:100%;">{{fontSize}}. T</button>
                    </li>
                </ul>
            </div>
            <div class="btn-group" dropdown dropdown-append-to-body>
                <button type="button" class="btn btn-default" dropdownToggle>
                    פונט <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" role="menu" aria-labelledby="btn-append-to-body">
                    <li role="menuitem" *ngFor="let font of fonts" (click)="setProperty('font', font)">
                        <button class="dropdown-item" [style.font-family]="font" [ngClass]="{'btn-info':hasProperty('font',font)}" style="width:100%;" tabindex="0">{{font}}</button>
                    </li>
                </ul>
            </div>
        </div>
        <div class="btn-group">
            <a class="btn" (click)="setProperty('align', 'left')" [ngClass]="{'btn-info':hasProperty('align','left'),'btn-default':!hasProperty('align','left')}"><i class="fa fa-align-left"></i></a>
            <a class="btn" (click)="setProperty('align', 'center')" [ngClass]="{'btn-info':hasProperty('align','center'),'btn-default':!hasProperty('align','center')}"><i class="fa fa-align-center"></i></a>
            <a class="btn" (click)="setProperty('align', 'right')" [ngClass]="{'btn-info':hasProperty('align','right'),'btn-default':!hasProperty('align','right')}"><i class="fa fa-align-right"></i></a>
        </div>
        <div class="btn-group">
            <button type="button" class="btn btn-default" (click)="addField()"><i class="fa fa-plus"></i></button>
            <button type="button" class="btn btn-default" (click)="removeField()"><i class="fa fa-remove"></i></button>
        </div>
    </div>
    <div #container class="pull-left" (contextmenu)="showContextMenu($event)">
        <button (click)="sendToProcessing()">Process in server</button>
        <button (click)="domtoimage()">הורד כתמונה</button>
        <button (click)="saveInServer()">שמור</button>
    </div>
</div>
<div class="clearfix"></div>
<br />
<div class="panel panel-default row" *ngIf="template">
    <div class="col-md-3" style="margin-top:10px;">
        <ol class="list-unstyled">
            <li *ngFor="let field of template.textFields; let i=index" class="animation-test" style="margin-bottom:5px;">
                <div class="input-group">
                    <input type="text" [(ngModel)]="field.text" class="form-control" style="height: 30px;margin-bottom:0;" />
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" (click)="removeField(i)">
                            <i class="fa fa-remove red" style="color:#dc0000;"></i>
                        </button>
                    </span>
                </div>
            </li>
        </ol>
    </div>
    <div class="panel-body col-md-9 print-area" #printArea style="visibility:visible">
        <div class="animation-test" style="position: relative; margin: auto;float:left;">
            <div class="text-fields-container">
                <div *ngFor="let field of template.textFields; let i=index" class="textField" style="position: absolute;" [style.-webkit-user-modify]="i==selectedIndex?'read-write-plaintext-only':'unset'"
                     [(style.top.px)]="field.top" [(style.left.px)]="field.left" [style.color]="field.color" [style.font-size.em]="field.fontSize" [style.z-index]="100 + i"
                     [style.width.px]="field.width" [style.height.px]="field.height" [style.font-family]="field.font" [style.font-weight]="field.bold?'bold':'normal'"
                     [style.font-style]="field.italic?'italic':'normal'" [style.text-decoration]="field.underline?'underline':'none'" [style.text-align]="field.align"
                     [style.transform]="'rotateZ(' + field.rotation + 'rad)' | safeStyle"
                     [draggable] (click)="dragstart(i, $event)" (dragstart)="dragstart(i, $event)" (drag)="onDrag(i,$event)"
                     [textContent]="field.text" (input)="field.text=$event.target.textContent">{{field.text}}</div>
            </div>
            <div class="inTemplate-tools" *ngIf="template.textFields[selectedIndex]"
                 [style.top.px]="template.textFields[selectedIndex].top" [style.left.px]="template.textFields[selectedIndex].left"
                 [style.width.px]="template.textFields[selectedIndex].width" [style.height.px]="template.textFields[selectedIndex].height"
                 [style.transform]="'rotateZ(' + template.textFields[selectedIndex].rotation + 'rad)' | safeStyle">
                <!--[style.top.px]="resizerCoordinates.y" [style.left.px]="resizerCoordinates.x"-->
                <div class="resizer" style="position: absolute;"
                     [draggable] (drag)="resize($event)">
                    <i class="right"></i>
                    <i class="bottom"></i>
                </div>
                <div class="rotation-handle" style="position: absolute;"
                     [draggable] (drag)="rotate($event)">↻</div>
            </div>
            <img *ngIf="template" [src]="'imageapi/byid/' + template.imageId" style="position:initial;width:100%;height:100%;z-index:90;-webkit-user-drag:none;"
                 (mousedown)="selectedIndex=-1" />
        </div>
    </div>
</div>

<p-contextMenu #contextmenu [model]="items" [appendTo]="'body'">asd</p-contextMenu>
<p-growl [value]="msgs"></p-growl>