.print-area {
    margin: auto;
    position: relative;
}

.text-fields-container .textField {
    will-change: left, top, transition;
    cursor: pointer;
    line-height: normal;
    overflow: hidden;
    white-space: pre;
    -webkit-text-stroke-width: 1px;
}

    .text-fields-container .textField:hover:after {
        position: absolute;
        top: 0;
        left: 0;
        opacity: 1;
        content: '';
        border: 1px dashed rgba(0,0,0,.1);
        width: 100%;
        height: 100%;
        pointer-events: none;
        box-sizing: border-box;
        z-index: 2;
    }
    .text-fields-container .textField:hover:before {
        position: absolute;
        top: 0;
        left: 0;
        opacity: 1;
        content: '';
        border: 1px dashed rgba(0,0,0,.1);
        width: 100%;
        height: 100%;
        pointer-events: none;
        box-sizing: border-box;
        z-index: 2;
    }

.inTemplate-tools {
    background-color: rgba(255, 255, 255, 0.26);
    position: absolute;
    border-width: 1px;
    border-style: dashed;
}

    .inTemplate-tools * {
        z-index: 1000;
    }

    .inTemplate-tools .resizer {
        will-change: left, top;
        width: 10px;
        height: 10px;
        cursor: nw-resize;
    }

        .inTemplate-tools .resizer i.bottom {
            position: absolute;
            width: 5px;
            height: 5px;
            left: -16px;
            border-top: 8px dashed black;
            border-right: 8px solid transparent;
            border-left: 8px solid transparent;
        }

        .inTemplate-tools .resizer i.right {
            position: absolute;
            width: 5px;
            height: 5px;
            top: -16px;
            border-left: 8px dashed black;
            border-top: 8px solid transparent;
            border-bottom: 8px solid transparent;
        }

    .inTemplate-tools .rotation-handle {
        will-change: left, top;
        left: 50%;
        top: 100%;
        width: 20px;
        height: 20px;
        margin-top: 20px;
        border-radius: 40px;
        background-color: wheat;
        text-align: center;
        cursor: pointer;
        transition-duration: 0.01s;
        transition-property: opacity;
        transition-timing-function: ease-in-out;
    }

        .inTemplate-tools .rotation-handle.dragged {
            opacity: 0;
        }
