.thumbnail div.lazy {
    height: 125px;
    width: 155px;
    text-align: center;
}

    .thumbnail div.lazy img {
        max-height: 100%;
        max-width: 100%;
        object-fit: contain;
    }