<div class="container-fluid" style="min-height: 400px;border: dotted 3px;"
     ng2FileDrop
     [style.border-color]="fileOver?'red':'transparent'"
     (fileOver)="fileOver=$event"
     [uploader]="uploader">
    <div class="row templateList">
        <a class="col-sm-2 col-md-2 col-lg-2 template" *ngFor='let template of templateList'>
            <div class="thumbnail" (click)="openModal(template)">
                <div class="lazy">
                    <img [src]="'imageapi/thumbnail/' + template.thumbnailId">
                </div>
                <p>{{template.name}} </p>
            </div>
        </a>
    </div>
</div>

<div bsModal #modal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-sm" style="direction:rtl;">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" (click)="modal.hide()" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title">בחר גודל דף</h4>
            </div>
            <div *ngIf="selectedTemplate" class="modal-body">
                <button class="btn btn-primary" *ngFor="let size of pageSizes" [routerLink]="['/details', selectedTemplate._id, size]">{{size}}</button>
            </div>
        </div>
    </div>
</div>