<div style="height:100%;border:dotted 3px;" ng2FileDrop
     [style.border-color]="fileOver?'red':'transparent'"
     (fileOver)="fileOver=$event"
     [uploader]="uploader"
     #panel>
    <p-accordion [style]="{direction:'rtl'}">
        <p-accordionTab header="מוכנים מראש">

        </p-accordionTab>
        <p-accordionTab header="העלאות" [selected]="true">
            <input type="file" ng2FileSelect [uploader]="uploader" multiple style="direction:rtl;width:100%;" accept="image/*" />
            <div class="images-resources">
                <div *ngFor="let item of userUploads" title="{{ item?.filename }}" class="resource">
                    <img [src]="item.previewUrl" [draggable] style="position:relative;"
                         (dragstart)="dragStart($event)" (drag)="drag($event)" (dragend)="dragEnd($event,item)">
                </div>
                <div *ngFor="let item of uploader.queue" title="{{ item?.file?.name }}" class="resource">
                    <img [src]="item.previewUrl" [draggable] style="position:relative;"
                         (dragstart)="dragStart($event)" (drag)="drag($event)" (dragend)="dragEnd($event,item)">
                    <!--<progressbar [value]="item.progress">
                        <span style="color:white; white-space:nowrap;">{{dynamic}}</span>
                    </progressbar>-->
                </div>
            </div>
        </p-accordionTab>
    </p-accordion>
</div>