
<div class="zoom-buttons">
    <button class="fit-button">
        <svg viewBox="0 0 24 24" preserveAspectRatio="xMidYMid meet" style="pointer-events: none; display: block; width: 100%; height: 100%;"><g><path d="M5 16h3v3h2v-5H5v2zm3-8H5v2h5V5H8v3zm6 11h2v-3h3v-2h-5v5zm2-11V5h-2v5h5V8h-3z"></path></g></svg>
    </button><br />
    <button class="zoom-in-button" (click)="zoomIn()">
        <svg viewBox="0 0 24 24" preserveAspectRatio="xMidYMid meet" style="pointer-events: none; display: block; width: 100%; height: 100%;"><g><path d="M19 13h-6v6h-2v-6H5v-2h6V5h2v6h6v2z"></path></g></svg>
    </button><br />
    <button class="zoom-out-button" (click)="zoomOut()">
        <svg viewBox="0 0 24 24" preserveAspectRatio="xMidYMid meet" style="pointer-events: none; display: block; width: 100%; height: 100%;"><g><path d="M19 13H5v-2h14v2z"></path></g></svg>
    </button>
</div>
<br />
<div>
    <label><i class="fa fa-search"></i>{{zoomLevels[zoomIndex]*100}}%</label>
</div>